body {
  margin: 0;
  padding: 0;
  background: #334466;
}
h1 {
  background: #99aacc;
  font-family: 'Bangers', sans-serif;
  text-align: center;
  font-size: 40px;
  max-height: 42px;
  color: #184060;
  letter-spacing: 0.1em;
  margin: 0 auto 20px auto;
  padding: 5px;
  position: relative;
  text-shadow: -1px 0 #184060, 0 1px #184060, 1px 0 #184060, 0 -1px #184060;
}
h1:before {
    content: "RUNJUMPERS";
    color: #7b7789;
    height: 30%;
    position: absolute;
    overflow: hidden;
}
canvas {
  border: 10px solid #223350;
  background: #b4a56a;
  display: block;
  width: 320px;
  height: 288px;
  margin: auto;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
